on: push
jobs:
  configure:
    runs-on: ubuntu-latest
    steps:
      - run: java --version
      - run: sudo apt-get install nikto -y
      - uses: actions/checkout@v3
      - run: java -jar out/app.jar &
      - run: sleep 2; nikto -h localhost:8081